<% title t(:locations) %>

<%= link_to t("location.register_new_location"), new_local_path, :class => "btn btn-primary", :style => "float:right;" %>

<br><br><br>

<ul class="nav nav-tabs flex-column flex-sm-row">
  <li class="nav-item">
    <%= link_to t(:locations) + " #{ @usuario.blank? ? '' : '(' + @usuario.nome.truncate(25) + ')' }", "#", :class => "nav-link active" %>
  </li>
</ul>

<% if @locais.empty? %>
  <br>
  <h2><%= t(:no_data_has_been_registered_so_far) %></h2>
<% else %>
  <br>

  <div class="row">
    <% @locais.each do |local| %>
      <div class="col-sm-6" style="cursor: pointer;" onclick="window.location='<%= local_url(local) %>';">
        <div class="card">
          <div  class="card-img-top thumbnail-mini"><%= link_to image_tag(local.imagem.url(:medium)), local_path(local), alt: local.nome, title: local.nome %></div>
          <div class="card-body"  style="min-height: 190px;">
            <h3 class="card-title"><%= link_to local.nome, local_path(local) %></h3>
            <p class="card-text" style="text-align: center;"><b><%= @tipos.key(local.tipo) %></b></p>
            <p class="card-text" style="text-align: center;"><%= link_to "See all Practices", local_practices_path(local) if local.practices and local.practices.count > 0 %></p>
            <% if usuario_signed_in? %>
              <% if current_usuario.admin? or local.usuario.id == current_usuario.id %>
                <td><%= link_to t(:edit), edit_local_path(local), :class => 'btn btn-sm btn-success' %></td>
                <td><%= link_to t(:destroy), local_path(local), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem Certeza?')) }, :class => 'btn btn-sm btn-danger' %></td>
              <% else %>
                <br><br>
              <% end %>
            <% end %>
          </div>
        </div><br>
      </div>
    <% end %>
  </div>

  <% if not params[:usuario_id] %>
    <div>
      <%= paginate @locais %>
    </div>
  <% end %>
<% end %>
