<%= render 'layouts/dataTable' %>

<% title t(:locations) %>

<%= link_to t("location.register_new_location"), new_local_path, :class => "btn btn-primary", :style => "float:right;" %>

<br><br><br>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to t(:locations) + " #{ @usuario.blank? ? '' : '(' + @usuario.nome.truncate(16) + ')' }", "#", :class => "nav-link active" %>
  </li>
</ul>

<% if @locais.empty? %>
  <br>
  <h2><%= t(:no_data_has_been_registered_so_far) %></h2>
<% else %>
  <br>

  <div class="row">
    <% @locais.each do |local| %>

  <div class="col-sm-6">
    <div  class="card-img-top thumbnail-mini"><%= link_to image_tag(local.imagem.url(:medium)), local_path(local) %></div>
    <br>
    <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= link_to local.nome, local_path(local) %></h5>
          <p class="card-text" style="text-align: center;"><%= @tipos.key(local.tipo) %></p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div><br>
    </div>
    <% end %>
  </div>

  <% if not params[:usuario_id] %>
  <div>
    <%= paginate @locais %>
  </div>
    <% end %>

  <script> $(document).ready(function () { dataTables(); }); </script>
<% end %>
