<% title @local.nome %>

<% if usuario_signed_in? %>
  <% if current_usuario.admin? or current_usuario.id == @local.usuario.id %>
    <%= link_to t(:register_new_agroecological_practice), new_local_agroecological_practice_path(@local), :class => "btn btn-info",  :style => "float:right; margin-left: 16px;" %>
    <%= link_to t(:send_photo), new_local_midia_path(@local), :class => "btn btn-warning", :style => "float:right;" %>
    <br><br>
  <% end %>
<% end %>

<br><br><br>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to truncate(@local.nome, length: 12), local_path(@local.id), :class => "nav-link active" %>
  </li>

  <li class="nav-item">
    <%= link_to t(:gallery) + " (#{@total_midia})", local_gallery_path(@local.id), :class => "nav-link", :style => "color: red !important" %>
  </li>

  <% if @local.agroecological_practices.count > 0 %>
    <li class="nav-item">
      <%= link_to t(:practices) + " (#{@local.agroecological_practices.count})", local_agroecological_practices_path(@local, ''), :class => "nav-link", :style => "color: red !important" %>
    </li>
  <% end %>

</ul>

<br>

<div class="tab-content" style="min-height: 64px;">
  <div class="tab-pane active">
    <div class="thumbnail">
      <%= image_tag(@local.imagem.url(:medium)) %>
    </div>
    <br><br>
    <div class='<%= (@local.nome.length() > 100 ? 'text-box' : '') %>'><h3><%= @local.nome %></h3></div>
    <br>

    <%# geo = Geocoder.search("#{@local.latitude},#{@local.longitude}") %>
    <%# if geo and geo[0] and geo[0].country %>
    <!--      <strong><%#= t(:location) %></strong><br>-->
    <%#= "#{geo[0].city}," if geo[0].city %>
    <%#= "#{geo[0].state}," if geo[0].state%>
    <%#= "#{geo[0].country}" if geo[0].country %>
    <!--      <br><br>-->
    <%# end %>

    <%= "<strong>#{t(:type)}:</strong><br>#{@tipos.key(@local.tipo)}&nbsp;<br>".html_safe if @local.tipo? %>
    <%= "<br><strong>#{t(:short_description)}:</strong><br><div class='text-box'>#{simple_format (h @local.observacao).gsub(URI.regexp, '<a href="\0">\0</a>')}</div>".html_safe if @local.observacao? %>
    <%= "<br><strong>#{t(:responsible_for_information)}:</strong><br>#{link_to @local.usuario.nome, usuario_path(@local.usuario)}&nbsp;<br>".html_safe if @local.usuario.nome? %>
    <% if @local.latitude and @local.longitude %>
      <br>
      <div class="form-group row">
        <div id="map-show"></div>
      </div>

      <script>
          $(document).ready(function () {
              var map = L.map('map-show').setView([<%= @local.latitude %>, <%= @local.longitude %>], 10);
              var attributions = '<a href="https://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> | <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY-NC-SA</a>'
              var osm = L.tileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                  attribution: attributions,
                  maxZoom: 18,
              }).addTo(map);
              var mapbox = L.tileLayer('https://api.mapbox.com/v4/mapbox.satellite/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFyY2Vsb3NvYXJlc3NvdXphIiwiYSI6ImNpZ2NpNXFmMzNvaDh3Ym0zeXM3aWN3Y2EifQ.1xOQgKK1MioUioN0B4DVog', {
                  attribution: 'Mapa da Agroecologia | MapBox',
                  maxZoom: 18,
              });
              var baseMaps = {"OpenStreetMap": osm, "Satélite (MapBox)": mapbox};

              L.control.layers(baseMaps).addTo(map);

              var Icon = L.icon({
                  iconUrl: '<%= image_url "leaflet/images/leaf-green.png" %>',
                  shadowUrl: '<%= image_url "leaflet/images/leaf-shadow.png" %>',
                  iconSize: [38, 95],
                  shadowSize: [50, 64],
                  iconAnchor: [22, 94],
                  shadowAnchor: [4, 62],
                  popupAnchor: [-3, -76]
              });
              $(window).on("resize", function () {
                  $("#map-show").width($(window).width() - 30);
                  map.invalidateSize();
              }).trigger("resize");
              $(window).on("resize", function () {
                  $("#map-show").height($(window).height());
                  map.invalidateSize();
              }).trigger("resize");

              L.marker([<%= @local.latitude %>, <%= @local.longitude %>], {icon: Icon}).addTo(map);
          });
      </script>
    <% end %>
  </div>
</div>

<% if usuario_signed_in? %>
  <% if current_usuario.admin? or current_usuario.id == @local.usuario.id %>
    <br><br>
    <div class="form-actions">
      <%= link_to t(:edit), edit_local_path(@local), :class => 'btn btn-success' %>
      <%= link_to t(:destroy), local_path(@local), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => t(:are_you_sure))) }, :class => 'btn btn-danger' %>
      <%= link_to t(:send_photo), new_local_midia_path(@local), :class => "btn btn-warning" %>
      <%= link_to t(:register_new_agroecological_practice), new_local_agroecological_practice_path(@local), :class => "btn btn-info" %>
    </div>
    <br><br>
  <% end %>
<% end %>
