<% title "Editing #{@midia.descricao}" %>

<br><br>

<ul class="nav nav-tabs flex-column flex-sm-row">
  <li class="nav-item">
    <% if params[:practice_id] %>
      <%= link_to t(:practices), practices_path, :class => "nav-link" %>
    <% end %>
  </li>

  <li class="nav-item">
    <% if params[:practice_id] %>
      <%= link_to @practice.name, practice_path(@practice), :class => "nav-link" %>
    <% end %>
  </li>

  <li class="nav-item">
    <% if params[:practice_id] %>
      <%= link_to "Fotos (#{@practice.midias.count})", practice_midias_path, :class => "nav-link" %>
    <% end %>
  </li>

  <li class="nav-item">
    <% if params[:practice_id] %>
      <%= link_to "#{t(:edit)} #{@midia.descricao}", edit_practice_midia_path, :class => "nav-link active" %>
    <% end %>
  </li>
</ul>

<br>

<%= render 'form', midia: @midia %>
