<% if params[:practice_id] %>
  <% title t(:gallery) + " #{@practice.name}" %>
<% end %>

<% if usuario_signed_in? %>
  <% if params[:practice_id] %>
    <%= link_to t(:send_photo), new_practice_midia_path, :class => "btn btn-warning", :style => "float:right;" if current_usuario.admin? or @practice.usuario_id == current_usuario.id %>
  <% elsif params[:location_id] %>
    <%= link_to t(:send_photo), new_location_midia_path, :class => "btn btn-warning", :style => "float:right;" if current_usuario.admin? or @location.usuario_id == current_usuario.id %>
  <% end %>
<% end %>

<br><br><br>

<ul class="nav nav-tabs flex-column flex-sm-row">
  <% if params[:location_id] %>
    <li class="nav-item">
      <%= link_to truncate(@location.name, length: 25), location_path(@location), :class => "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to t(:gallery)+ " (#{@location.midias.count})", location_path(@location), :class => "nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to t(:practices) + " (#{@location.practices.count})", location_practices_path(@location), :class => "nav-link" if @location.practices.count > 0%>
    </li>
  <% end %>

  <% if params[:practice_id] %>
    <li class="nav-item">
      <%= link_to truncate(@practice.location.name, length: 25), location_path(@practice.location), title: @practice.location.name,  :class => "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to @practice.name.truncate(25) , practice_path(@practice), :class => "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to t(:what_you_do), practice_what_you_do_path(@practice, @practice.what_you_do), :class => "nav-link" if @practice.what_you_do %>
    </li>
    <li class="nav-item">
      <%= link_to t(:characterise), practice_characterise_path(@practice, @practice.characterise), :class => "nav-link" if @practice.characterise %>
    </li>
    <li class="nav-item">
      <%= link_to t(:evaluate), practice_evaluate_path(@practice, @practice.evaluate), :class => "nav-link" if @practice.evaluate %>
    </li>
    <li class="nav-item">
      <%= link_to t(:acknowledge), practice_acknowledge_path(@practice, @practice.acknowledge), :class => "nav-link" if @practice.acknowledge %>
    </li>
    <li class="nav-item">
      <%= link_to "#{t(:gallery)} (#{@practice.midias.count})", practice_gallery_path(@practice), :class => "nav-link active", :style => "color: red !important" %>
    </li>
  <% end %>
  </li>
</ul>

<% if @midias.empty? %>
  <br><br>

  <h3><%= t(:no_photo_submitted) %>
    <% if usuario_signed_in? %>
      <% if params[:practice_id] %>
        <%= link_to t(:send_picture), new_practice_midia_path(@practice) if current_usuario.admin? or @practice.usuario_id == current_usuario.id %>
      <% end %>
    <% end %>
  </h3>

<% else %>

  <br>

  <div class="row justify-content-left" style="margin-left: 32px;">
    <div class="col-md-8">
      <div class="row">
        <% @midias.each do |midia| %>
          <div class="gallery-image">
            <a href="<%= midia.imagem.url(:original) %>>" data-toggle="lightbox" data-gallery="midia-gallery" class="col-sm-4" data-max-width="900">
              <img src="<%= midia.imagem.url(:medium) %>" alt="Photo <%= midia.description %>" title="Photo <%= midia.description %>" class="img-fluid">
            </a>
          </div>
          <% if usuario_signed_in? %>
            <% if @location or @practice %>
              <% if current_usuario.admin? or current_usuario.id == (@location ? @location.usuario.id : nil) or current_usuario.id == (@practice ? @practice.usuario.id : nil)%>
                <div class="midia-control">
                  <% if @location %>
                    <%= link_to " &nbsp; Edit &nbsp; ".html_safe, edit_location_midia_path(@location, midia), :class => 'btn btn-success btn-sm', :style => 'font-size: 10px;'%>
                    <br>
                    <%= link_to t(:destroy), location_midia_path(@location, midia), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you Sure?')) }, :class => 'btn btn-danger btn-sm', :style => 'font-size: 10px;' %>
                  <% end %>

                  <% if @practice %>
                    <%= link_to " &nbsp; Edit &nbsp; ".html_safe, edit_practice_midia_path(@practice, midia), :class => 'btn btn-success btn-sm', :style => 'font-size: 10px;'%>
                    <br>
                    <%= link_to t(:destroy), practice_midia_path(@practice, midia), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you Sure?')) }, :class => 'btn btn-danger btn-sm', :style => 'font-size: 10px;' %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% end %>

        <% end %>
      </div>
    </div>
  </div>
  <br><br>
  <script>
      $(document).on('click', '[data-toggle="lightbox"]', function(event) {
          event.preventDefault();
          $(this).ekkoLightbox();
      });
  </script>
<% end %>
