<% if params[:practice_id] %>
  <% title "Add Photo To #{@practice.name}" %>
<% elsif params[:local_id] %>
  <% title "Add Photo to #{@local.nome}" %>
<% end %>

<br><br>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <% if params[:practice_id] %>
      <%= link_to t(:practices), practices_path, :class => "nav-link" %>
    <% end %>
  </li>

  <li class="nav-item">
    <% if params[:practice_id] %>
      <%= link_to @practice.name.truncate(10), practice_path(@practice), :class => "nav-link" %>
    <% elsif params[:local_id] %>
      <%= link_to truncate(@local.nome, length: 10), local_path(@local), :class => "nav-link" %>
    <% end %>
  </li>

  <% if usuario_signed_in? %>
    <li class="nav-item">
      <% if params[:practice_id] %>
        <%= link_to "Send Photo", new_practice_midia_path, :class => "nav-link active" %>
      <% elsif params[:local_id] %>
        <%= link_to "Send Photo", new_local_midia_path, :class => "nav-link active" %>
      <% end %>
    </li>
  <% end %>
</ul>

<br>

<%= render 'form', midia: @midia %>
