<% if params[:agroecological_practice_id] %>
  <% title "Add Photo To#{@agroecological_practice.local.nome}" %>
<% elsif params[:experiencia_agroecologica_id] %>
  <% title "Add Photo to #{@experiencia_agroecologica.nome}" %>
<% elsif params[:one_million_voice_id] %>
  <% title "Add Photo to #{@one_million_voice.local.nome}" %>
<% elsif params[:local_id] %>
  <% title "Add Photo to #{@local.nome}" %>
<% end %>

<br><br>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <% if params[:agroecological_practice_id] %>
      <%= link_to t(:agroecological_practices), agroecological_practices_path, :class => "nav-link" %>
    <% elsif params[:experiencia_agroecologica_id] %>
      <%= link_to t(:experience_in_agroecology), experiencia_agroecologicas_path, :class => "nav-link" %>
    <% end %>
  </li>

  <li class="nav-item">
    <% if params[:agroecological_practice_id] %>
      <%= link_to @agroecological_practice.local.nome.truncate(10), agroecological_practice_path(@agroecological_practice), :class => "nav-link" %>
    <% elsif params[:experiencia_agroecologica_id] %>
      <%= link_to @experiencia_agroecologica.nome.truncate(10), experiencia_agroecologica_path(@experiencia_agroecologica), :class => "nav-link" %>
    <% elsif params[:one_million_voice_id] %>
      <%= link_to "One Million Voices on " + truncate(@one_million_voice.local.nome, length: 10), one_million_voice_path(@one_million_voice), :class => "nav-link" %>
    <% elsif params[:local_id] %>
      <%= link_to truncate(@local.nome, length: 10), local_path(@local), :class => "nav-link" %>
    <% end %>
  </li>

  <% if usuario_signed_in? %>
    <li class="nav-item">
      <% if params[:agroecological_practice_id] %>
        <%= link_to "Send Photo", new_agroecological_practice_midia_path, :class => "nav-link active" %>
      <% elsif params[:experiencia_agroecologica_id] %>
        <%= link_to "Send Photo", new_experiencia_agroecologica_midia_path, :class => "nav-link active" %>
      <% elsif params[:one_million_voice_id] %>
        <%= link_to "Send Photo", new_one_million_voice_midia_path, :class => "nav-link active" %>
      <% elsif params[:local_id] %>
        <%= link_to "Send Photo", new_local_midia_path, :class => "nav-link active" %>
      <% end %>
    </li>
  <% end %>
</ul>

<br>

<%= render 'form', midia: @midia %>
