<% if params[:agroecological_practice_id] %>
  <% title "#{@midia.descricao} | #{@agroecological_practice.local.nome}" %>
<% elsif params[:one_million_voice_id] %>
  <% title "#{@midia.descricao} | #{@one_million_voice.local.nome}" %>
<% end %>

<% if usuario_signed_in? %>
  <% if params[:agroecological_practice_id] %>
    <%= link_to t(:send_picture), new_agroecological_practice_midia_path, :class => "btn btn-warning", :style => "float:right;" if current_usuario.admin? or @agroecological_practice.usuario_id == current_usuario.id %>
  <% elsif params[:one_million_voice_id] %>
    <%= link_to t(:send_picture), new_one_million_voice_midia_path, :class => "btn btn-warning", :style => "float:right;" if current_usuario.admin? or @one_million_voice.usuario_id == current_usuario.id %>
  <% end %>
<% end %>

<br><br><br>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <% if params[:agroecological_practice_id] %>
      <%= link_to truncate(@agroecological_practice.local.nome, length: 16), agroecological_practice_path(@agroecological_practice), :class => "nav-link" %>
    <% elsif params[:one_million_voice_id] %>
      <%= link_to "One Million Voices on " + truncate(@one_million_voice.local.nome, length: 10), one_million_voice_path(@one_million_voice), :class => "nav-link" %>
    <% end %>
  </li>

  <li class="nav-item">
    <% if params[:agroecological_practice_id] %>
      <%= link_to t(:photo) + " (#{@agroecological_practice.midias.count})", agroecological_practice_midias_path, :class => "nav-link" %>
    <% elsif params[:one_million_voice_id] %>
      <%= link_to t(:photo) + " (#{@one_million_voice.midias.count})", one_million_voice_midias_path, :class => "nav-link" %>
    <% end %>
  </li>

  <li class="nav-item">
    <% if params[:agroecological_practice_id] %>
      <%= link_to truncate(@midia.descricao, length: 18), agroecological_practice_midia_path(@agroecological_practice, @midia.id), :class => "nav-link active" %>
    <% elsif params[:one_million_voice_id] %>
      <%= link_to truncate(@midia.descricao, length: 18), one_million_voice_midia_path(@one_million_voice, @midia.id), :class => "nav-link active" %>
    <% end %>
  </li>
</ul>

<br>

<div class="tab-content" style="min-height: 64px;">
  <div class="tab-pane active">
    <%= image_tag(@midia.imagem.url, :class => "midia-imagem") %>

    <br><br>
    <h3><%= @midia.descricao %></h3>
  </div>
</div>

<% if usuario_signed_in? %>
  <% if current_usuario.admin? or current_usuario.id == @midia.usuario_id %>
    <br><br>
    <div class="form-actions">
      <% if params[:agroecological_practice_id] %>
        <%= link_to t(:edit), edit_agroecological_practice_midia_path(@agroecological_practice, @midia), :class => 'btn btn-mini btn-success' %>
        <%= link_to t(:destroy), agroecological_practice_midia_path(@agroecological_practice, @midia), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you Sure?')) }, :class => 'btn btn-mini btn-danger' %>
      <% elsif params[:one_million_voice_id] %>
        <%= link_to t(:edit), edit_one_million_voice_midia_path(@one_million_voice, @midia), :class => 'btn btn-mini btn-success' %>
        <%= link_to t(:destroy), one_million_voice_midia_path(@one_million_voice, @midia), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you Sure?')) }, :class => 'btn btn-mini btn-danger' %>
      <% end %>
    </div>
  <% end %>
<% end %>
