<% if params[:practice_id] %>
  <% title "#{@media.description} | #{@practice.name}" %>
<% end %>

<% if account_signed_in? %>
  <% if params[:practice_id] %>
    <%= link_to t(:send_picture), new_practice_media_path, :class => "btn btn-warning", :style => "float:right;" if current_account.admin? or @practice.account_id == current_account.id %>
  <% end %>
<% end %>

<br><br><br>

<ul class="nav nav-tabs flex-column flex-sm-row">
  <li class="nav-item">
    <% if params[:practice_id] %>
      <%= link_to truncate(@practice.name, length: 25), practice_path(@practice), :class => "nav-link" %>
    <% end %>
  </li>

  <li class="nav-item">
    <% if params[:practice_id] %>
      <%= link_to t(:photo) + " (#{@practice.medias.count})", practice_medias_path, :class => "nav-link" %>
    <% end %>
  </li>

  <li class="nav-item">
    <% if params[:practice_id] %>
      <%= link_to truncate(@media.description, length: 18), practice_media_path(@practice, @media.id), :class => "nav-link active" %>
    <% end %>
  </li>
</ul>

<br>

<div class="tab-content" style="min-height: 64px;">
  <div class="tab-pane active">
    <%= image_tag(@media.photo.url, :class => "media-photo") %>
    <br><br>
    <h3><%= @media.description %></h3>
  </div>
</div>

<% if account_signed_in? %>
  <% if current_account.admin? or current_account.id == @media.account_id %>
    <hr>
    <div class="form-actions">
      <% if params[:practice_id] %>
        <%= link_to t(:edit), edit_practice_media_path(@practice, @media), :class => 'btn btn-mini btn-success' %>
        <%= link_to t(:destroy), practice_media_path(@practice, @media), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you Sure?')) }, :class => 'btn btn-mini btn-danger' %>
      <% end %>
    </div>
  <% end %>
<% end %>
