<% title t(:sign_up) %>

<div class="sign_in_up">
  <%= image_tag ("signup.png"), width: 200 %>
  <br><br>
  <strong><%= t(:sign_up) %></strong>
  <br><br>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <% if resource.errors.any? %>
      <div id="error_explanation">
        <b><%= resource.errors.count.to_s + " Error(s)" %></b>
        <br><br>
        <% resource.errors.full_messages.each do |message| %>
          <%= message %><br>
        <% end %><br>
      </div>
    <% end %>

    <div class="forms">
      <div class="form-group row required bg-light">
        <%= f.label "E-Mail", class: "col-sm-2 col-form-label col-form-label-lg control-label" %>
        <div class="col-sm-8">
          <%= f.email_field :email, autofocus: true, class: "form-control", :required => true  %>
          <div class="tip">We will use this to send you a confirmation E-mail.</div>
        </div>
      </div>

      <div class="form-group required row">
        <%= f.label t(:name), class: "col-sm-2 col-form-label col-form-label-lg control-label" %>
        <div class="col-sm-8">
          <%= f.text_field :name, class: "form-control", :required => true  %>
          <div class="tip">Please, provide at least your first and last name</div>
        </div>
      </div>

      <div class="form-group row required bg-light">
        <%= f.label t(:password), class: "col-sm-3 col-form-label col-form-label-lg control-label" %>
        <div class="col-sm-6">
          <%= f.password_field :password, autocomplete: "off", class: "form-control", :required => true  %>
          <div class="tip">Minimum is 8 characters</div>
        </div>
      </div>

      <div class="form-group required row">
        <%= f.label t(:password_confirm), class: "col-sm-4 col-form-label col-form-label-lg control-label" %>
        <div class="col-sm-6">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", :required => true  %>
        </div>
      </div>
      <div class="tip_alert">You will receive an email with a link to confirm your registration.</div>
      <br>
      <div class="checkbox">
        <label>
          <%= f.check_box :i_agree_with_terms_and_conditions, {required: true}, true, false  %>
          <strong>I agree to share the data (non-personal) provided here<br>under a <%= link_to "Creative Commons license CC BY-NC-SA 4.0", "https://creativecommons.org/licenses/by-nc-sa/4.0/", target: "_blank" %>.</strong>
        </label>
      </div>

      <div class="actions">
        <%= button_tag(name: t(:sign_up), type: 'submit', class: "btn btn-primary", id: 'submit', onSubmit: 'verifyTermOfUse()') do %>
          <span id="button_name"><%= t(:sign_up) %></span>
          <span class="spinner-border spinner-border-sm" id="spinner" role="status" aria-hidden="true"></span>
        <% end %>
      </div>
    </div>
    <%= render "devise/shared/links" %>
    <br>
    <div>
      <strong>All content on this platform is licensed under the</strong>
      <br>
      <%= link_to image_tag('CC.png', width: 120), 'https://creativecommons.org/licenses/by-nc-sa/4.0/', target: '_blank' %>
    </div>
    <br>
    <div><%= invisible_captcha %></div>
  <% end %>
</div>

<script>
    document.getElementById("submit").setAttribute("disabled", "disabled");
    setTimeout(function () {
        document.getElementById("submit").removeAttribute("disabled");
        document.getElementById("spinner").remove();
    }, 3600);
</script>
