<%= form_for(what_you_do, html: { multipart: true }) do |f| %>
  <% button_name = params["action"] == 'edit' ? t(:save) :  t(:next ) %>
  <%= f.submit button_name, class: "btn btn-warning btn-lg", style: "float: right; margin-bottom: 16px;" %>

  <br><br>

  <% if what_you_do.errors.any? %>
    <div id="error_explanation">
      <b><%= what_you_do.errors.count.to_s + " Error(s)" %></b>
      <br><br>
      <% what_you_do.errors.full_messages.each do |message| %>
        <%= message %><br>
      <% end %><br>
    </div>

  <% end %>

  <div class="form-group row">
    <div class="col-sm-10">
      <% if params[:practice_id] %>
        <%= f.hidden_field :practice_id, id: "practice_id", :value => Practice.friendly.find(params[:practice_id]).id %>
      <% else %>
        <%= f.hidden_field :practice_id, id: "practice_id", :value => @what_you_do.practice.id %>
      <% end %>
    </div>
  </div>

  <div class="forms">
    <div class="form-group row bg-light required">
      <%= f.label t(:summary_description_of_agroecological_practice), class: "col-sm-2 col-form-label col-form-label-lg control-label" %>
      <div class="col-sm-10">
        <%= f.collection_select(:where_it_is_realized, @where_it_is_realized_options, :last, :first, { :include_blank => false }, { class: "form-control selectpicker", "data-live-search": true }) %>
        <%= f.text_area :summary_description_of_agroecological_practice, class: "form-control", :rows => "6", :required => true %>
        <div class="tip">
          In short, what is the practice that you want to map?
          <span class="tip_alert" style="float: right;">*This field is required.</span>
        </div>
      </div>
    </div>

    <br>
    <div class="form-group row">
      <%= f.label t(:type_of_agroecological_practice), class: "col-sm-2 col-form-label col-form-label-lg" %>
      <div class="col-sm-10">
        <%= f.text_area :type_of_agroecological_practice, class: "form-control", :rows => "6" %>
        <div class="tip">
          What kind of practice is it?
        </div>
      </div>
    </div>

    <br>
    <div class="form-group row bg-light">
      <%= f.label t(:practical_implementation_of_the_practice), class: "col-sm-2 col-form-label col-form-label-lg" %>
      <div class="col-sm-10">
        <%= f.text_area :practical_implementation_of_the_practice, class: "form-control", :rows => "6" %>
        <div class="tip">
          How do you do prepare and/or implement the practice?
        </div>
      </div>
    </div>

    <br>
    <div class="form-group row">
      <%= f.label t(:land_size), class: "col-sm-2 col-form-label col-form-label-lg" %>
      <div class="col-sm-10">
        <%= f.collection_select(:unit_of_measure, @unit_of_measure_options, :last, :first, { :include_blank => t(:unit_of_measurement) }, { class: "form-control selectpicker", "data-live-search": true }) %>
        <%= f.number_field :land_size, class: "form-control", step: 0.1 %>
        <div class="tip">
          On how much land do you implement the practice?
        </div>
      </div>
    </div>

    <br>
    <div class="form-group row bg-light">
      <%= f.label t(:substitution_of_less_ecological_alternative), class: "col-sm-2 col-form-label col-form-label-lg" %>
      <div class="col-sm-10">
        <%= f.collection_select(:substitution_of_less_ecological_alternative, @yes_no_i_am_not_sure_not_applicable_options, :last, :first, { :include_blank => t(:select_an_option) }, { class: "form-control selectpicker", "data-live-search": true }) %>
        <%= f.text_area :substitution_of_less_ecological_alternative_details, class: "form-control", :rows => "3", :placeholder => "Please provide additional details..." %>
        <div class="tip">
          Does the practice substitute or reduce a less ecological alternative (i.e. use of synthetic inputs)?
        </div>
      </div>
    </div>

    <br>
    <div class="form-group row ">
      <%= f.label t(:expected_function_or_effects_of_practice), class: "col-sm-2 col-form-label col-form-label-lg" %>
      <div class="col-sm-10">
        <%= f.text_area :expected_function_or_effects_of_practice, class: "form-control", :rows => "6" %>
        <div class="tip">
          Which effect do you expect the practice to have?
        </div>
      </div>
    </div>
    <%= f.submit button_name, class: "btn btn-warning btn-lg" %>
  </div>
<% end %>
