<% title @what_you_do.practice.name %>

<% if usuario_signed_in? %>
  <% if current_usuario.admin? or current_usuario.id == @what_you_do.practice.usuario.id %>
    <%= link_to t(:send_photo), new_practice_midia_path(@what_you_do), :class => "btn btn-warning", :style => "float:right;" %>
  <% end %>
<% end %>

<br><br><br>

<ul class="nav nav-tabs flex-column flex-sm-row">
  <li class="nav-item">
    <%= link_to truncate(@what_you_do.practice.local.nome, length: 8), local_path(@what_you_do.practice.local), title: @what_you_do.practice.local.nome,  :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to @what_you_do.practice.name.truncate(10) , practice_path(@what_you_do.practice), :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to t(:what_you_do), practice_what_you_do_path(@what_you_do.practice, @what_you_do.practice.what_you_do), :class => "nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to t(:characterise), practice_characterise_path(@what_you_do.practice, @what_you_do.practice.characterise), :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to t(:evaluate), practice_evaluate_path(@what_you_do.practice, @what_you_do.practice.evaluate), :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to t(:acknowledge), practice_acknowledge_path(@what_you_do.practice, @what_you_do.practice.acknowledge), :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "#{t(:gallery)} (#{@what_you_do.practice.midias.count})", practice_gallery_path(@what_you_do.practice), :class => "nav-link", :style => "color: red !important" %>
  </li>
</ul>

<br>

<div class="tab-content" style="min-height: 64px;">
  <div class="tab-pane active">
    <br>
    <% if @what_you_do.summary_description_of_agroecological_practice.empty? and
      @what_you_do.type_of_agroecological_practice.empty? and
      @what_you_do.problem_that_practice_addresses.empty? and
      @what_you_do.practical_implementation_of_the_practice.empty? and
      @what_you_do.expected_function_or_effects_of_practice.empty? %>
      <h3><%= t(:no_data_has_been_registered_so_far) %>
        <% if usuario_signed_in? %>
          <% if current_usuario.admin? or current_usuario.id == @what_you_do.practice.usuario.id %>
            <%= link_to t(:register), edit_practice_what_you_do_path(@what_you_do.practice, @what_you_do) %>
          <% end %>
        <% end %>
      </h3>
    <% else %>
      <%= "<h2>#{t(:summary_description_of_agroecological_practice)}</h2><div class='text-box'>#{simple_format (h @what_you_do.summary_description_of_agroecological_practice).gsub(URI.regexp, '<a href="\0">\0</a>')}</div>".html_safe if @what_you_do.summary_description_of_agroecological_practice and @what_you_do.summary_description_of_agroecological_practice.length > 0 %>
      <br>
      <%= "<h2>#{t(:type_of_agroecological_practice)}</h2><div class='text-box'>#{simple_format (h @what_you_do.type_of_agroecological_practice).gsub(URI.regexp, '<a href="\0">\0</a>')}</div>".html_safe if @what_you_do.type_of_agroecological_practice and @what_you_do.type_of_agroecological_practice .length() > 0%>
      <br>
      <%= "<h2>#{t(:problem_that_practice_addresses)}</h2><div class='text-box'>#{simple_format (h @what_you_do.problem_that_practice_addresses).gsub(URI.regexp, '<a href="\0">\0</a>')}</div>".html_safe if @what_you_do.problem_that_practice_addresses and @what_you_do.problem_that_practice_addresses .length() > 0%>
      <br>
      <%= "<h2>#{t(:practical_implementation_of_the_practice)}</h2><div class='text-box'>#{simple_format (h @what_you_do.practical_implementation_of_the_practice).gsub(URI.regexp, '<a href="\0">\0</a>')}</div>".html_safe if @what_you_do.practical_implementation_of_the_practice and @what_you_do.practical_implementation_of_the_practice .length() > 0%>
      <br>
      <%= "<h2>#{t(:expected_function_or_effects_of_practice)}</h2><div class='text-box'>#{simple_format (h @what_you_do.expected_function_or_effects_of_practice).gsub(URI.regexp, '<a href="\0">\0</a>')}</div>".html_safe if @what_you_do.expected_function_or_effects_of_practice and @what_you_do.expected_function_or_effects_of_practice .length() > 0%>

      <% if usuario_signed_in? %>
        <% if current_usuario.admin? or current_usuario.id == @what_you_do.practice.usuario.id %>
          <br><br>
          <div id="practice-footer">
            <div class="form-actions">
              <%= link_to t(:edit), edit_practice_what_you_do_path(@what_you_do.practice, @what_you_do), :class => 'btn btn-success' %>
            </div>
          </div>
        <% end %>
      <% end %>
      <br><br>
    <% end %>
  </div>
</div>

