<% if @locais %>
  var markers = L.markerClusterGroup({ disableClusteringAtZoom: 12, maxClusterRadius: 20 });
  var Icon = L.icon({
  iconUrl: '<%= image_url "leaflet/images/leaf-green.png" %>',
  shadowUrl: '<%= image_url "leaflet/images/leaf-shadow.png" %>',
  iconSize:     [38, 95],
  shadowSize:   [50, 64],
  iconAnchor:   [22, 94],
  shadowAnchor: [4, 62],
  popupAnchor:  [-3, -76]
  });

  <% @locais.each do |local| %>
    <% if local.latitude and local.longitude %>
      var popup = '';
      popup += '<div class="thumbnail-mini"><%= link_to image_tag(local.imagem.url(:medium)), local_path(local) %></div><br>'
      popup += '<h4><%= "#{link_to local.name, local_path(local), target: '_blank'}".html_safe %></h4>';
      popup += '<b>';
      popup += '<div><%= link_to "See all Practices", local_practices_path(local) if ! local.practices.blank? %></div>';
      popup += '<div class="popup-gallery"><%= local.midias.blank? ? "".html_safe : "#{ link_to (t(:gallery)), local_gallery_path(local.id), target: '_blank'}".html_safe %></div>';
      popup += '</b>';

      var marker = new L.marker(new L.latLng([<%= local.latitude %>, <%= local.longitude %>]), { icon: Icon, title: '<%= local.name %>' });
      marker.bindPopup(popup);
      markers.addLayer(marker);
    <% end %>
  <% end %>

  map.addLayer(markers);
  map.addControl(new L.control.zoom({ position: 'topright' }));

<% end %>
