<% title t(:practices) %>

<br><br><br>

<ul class="nav nav-tabs flex-column flex-sm-row">
  <% if params[:location_id] %>
    <li class="nav-item">
      <%= link_to @location.name.truncate(10), location_path(@location), title: @location.name, :class => "nav-link" %>
    </li>
  <% end %>
  <li class="nav-item">
    <%= link_to t(:practices) + " (#{@practices.count})", "#", :class => "nav-link active" %>
  </li>
</ul>

<% if @practices.empty? %>
  <br>
  <h2><%= t(:no_data_has_been_registered_so_far) %></h2>
<% else %>
  <br>
  <div class="row">
    <% @practices.each do |practice| %>
      <div class="col-sm-6" style="cursor: pointer;" onclick="window.location='<%= practice_path(practice) %>';">
        <div class="card" style="min-height: 380px;">
          <br>
          <% if  practice.medias and practice.medias[0]%>
            <div class="card-img-top thumbnail-mini"><%= link_to image_tag(practice.medias[0].imagem.url(:medium)), practice_path(practice), alt: practice.location.name, title: practice.location.name %></div>
          <% else %>
            <div class="card-img-top thumbnail-mini"><%= link_to image_tag(practice.location.imagem.url(:medium)), practice_path(practice), alt: practice.location.name, title: practice.location.name %></div>
          <% end %>
          <div class="card-body">
            <%= "<b>Summary</b>".html_safe if practice.summary_description_of_agroecological_practice and practice.summary_description_of_agroecological_practice.length > 0 %>
            <p class="card-text text-box"><%= practice.summary_description_of_agroecological_practice.truncate(160) %></p>
            <b>Location</b>
            <p class="card-text text-box"><%= link_to practice.location.name.truncate(160), location_path(practice.location) %></p>
            <% if account_signed_in? %>
              <% if current_account.admin? or practice.account.id == current_account.id %>
                <td><%= link_to t(:edit), edit_practice_path(practice), :class => 'btn btn-sm btn-success' %></td>
                <td><%= link_to t(:destroy), practice_path(practice), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem Certeza?')) }, :class => 'btn btn-sm btn-danger' %></td>
              <% end %>
            <% end %>
          </div>
        </div><br>
      </div>
    <% end %>
  </div>

  <% if not params[:account_id] and not params[:location_id] %>
    <div>
      <%= paginate @practices %>
    </div>
  <% end %>
<% end %>
