<% title t(:acknowledge) %>

<br><br><br>

<ul class="nav nav-tabs flex-column flex-sm-row">
  <li class="nav-item">
    <%= link_to t(:practices), practices_path, :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to t(:what_you_do), "#", :class => "nav-link", :style => "color: #979797 !important" %>
  </li>
  <li class="nav-item">
    <%= link_to t(:characterise), "#", :class => "nav-link", :style => "color: #979797 !important" %>
  </li>
  <li class="nav-item">
    <%= link_to t(:evaluate), "#", :class => "nav-link", :style => "color: #979797 !important" %>
  </li>
  <li class="nav-item">
    <%= link_to t(:acknowledge), "#", :class => "nav-link active" %>
  </li>
</ul>

<br>

<div class="tip_alert">If you don't want to fill in everything now, don't worry, you can <%=  link_to "fill in all the questions", practice_path(@practice) %> later by editing each section.</div>

<br>

<%= render 'form', acknowledge: @acknowledge %>
