<% title @acknowledge.practice.name %>

<% if usuario_signed_in? %>
  <% if current_usuario.admin? or current_usuario.id == @acknowledge.practice.usuario.id %>
    <%= link_to t(:send_photo), new_practice_midia_path(@acknowledge), :class => "btn btn-warning", :style => "float:right;" %>
  <% end %>
<% end %>

<br><br><br>

<ul class="nav nav-tabs flex-column flex-sm-row">
  <li class="nav-item">
    <%= link_to truncate(@acknowledge.practice.local.nome, length: 8), local_path(@acknowledge.practice.local), title: @acknowledge.practice.local.nome,  :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to @acknowledge.practice.name.truncate(10) , practice_path(@acknowledge.practice), :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to t(:what_you_do), practice_what_you_do_path(@acknowledge.practice, @acknowledge.practice.what_you_do), :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to t(:characterise), practice_characterise_path(@acknowledge.practice, @acknowledge.practice.characterise), :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to t(:evaluate), practice_evaluate_path(@acknowledge.practice, @acknowledge.practice.evaluate), :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to t(:acknowledge), practice_acknowledge_path(@acknowledge.practice, @acknowledge.practice.acknowledge), :class => "nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to "#{t(:gallery)} (#{@acknowledge.practice.midias.count})", practice_gallery_path(@acknowledge.practice), :class => "nav-link", :style => "color: red !important" %>
  </li>
</ul>

<br>

<div class="tab-content" style="min-height: 64px;">
  <div class="tab-pane active">
    <br>
    <% if @acknowledge.knowledge_source.empty? and
      @acknowledge.knowledge_timing.empty? and
      @acknowledge.knowledge_products.empty?
    %>
      <h3><%= t(:no_data_has_been_registered_so_far) %>
        <% if usuario_signed_in? %>
          <% if current_usuario.admin? or current_usuario.id == @acknowledge.practice.usuario.id %>
            <%= link_to t(:register), edit_practice_acknowledge_path(@acknowledge.practice, @acknowledge) %>
          <% end %>
        <% end %>
      </h3>
    <% else %>

      <% if @acknowledge.knowledge_source and @acknowledge.knowledge_source .length() > 0 %>
        <div class="practices-box bg-light"><%= "<h2>#{t(:knowledge_source)}</h2><div class='text-box'>#{simple_format (h @acknowledge.knowledge_source).gsub(URI.regexp, '<a href="\0">\0</a>')}</div>".html_safe %></div>
      <% end %>

      <% if @acknowledge.knowledge_timing and @acknowledge.knowledge_timing .length() > 0 %>
        <%= "<h2>#{t(:knowledge_timing)}</h2><div class='text-box'>#{simple_format (h @acknowledge.knowledge_timing).gsub(URI.regexp, '<a href="\0">\0</a>')}</div>".html_safe %>
      <% end %>

      <% if @acknowledge.knowledge_products and @acknowledge.knowledge_products .length() > 0 %>
        <div class="practices-box bg-light"><%= "<h2>#{t(:knowledge_products)}</h2><div class='text-box'>#{simple_format (h @acknowledge.knowledge_products).gsub(URI.regexp, '<a href="\0">\0</a>')}</div>".html_safe %></div>
      <% end %>

      <% if usuario_signed_in? %>
        <% if current_usuario.admin? or current_usuario.id == @acknowledge.practice.usuario.id %>
          <br><br>
          <div id="practice-footer">
            <div class="form-actions">
              <%= link_to t(:edit), edit_practice_acknowledge_path(@acknowledge.practice, @acknowledge), :class => 'btn btn-success' %>
            </div>
          </div>
        <% end %>
      <% end %>
      <br><br>
    <% end %>
  </div>
</div>