<% title @practice.location.name %>

<% if account_signed_in? %>
  <% if current_account.admin? or current_account.id == @practice.account.id %>
    <%= link_to t(:send_photo), new_practice_media_path(@practice), :class => "btn btn-warning", :style => "float:right;" %>
  <% end %>
<% end %>

<br><br><br>

<ul class="nav nav-tabs flex-column flex-sm-row">
  <li class="nav-item">
    <%= link_to truncate(@practice.location.name, length: 25), location_path(@practice.location), title: @practice.location.name,  :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to @practice.name.truncate(25) , practice_path(@practice), :class => "nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to t(:what_you_do), practice_what_you_do_path(@practice, @practice.what_you_do), :class => "nav-link" if @practice.what_you_do %>
  </li>
  <li class="nav-item">
    <%= link_to t(:characterise), practice_characterise_path(@practice, @practice.characterise), :class => "nav-link" if @practice.characterise %>
  </li>
  <li class="nav-item">
    <%= link_to t(:evaluate), practice_evaluate_path(@practice, @practice.evaluate), :class => "nav-link" if @practice.evaluate %>
  </li>
  <li class="nav-item">
    <%= link_to t(:acknowledge), practice_acknowledge_path(@practice, @practice.acknowledge), :class => "nav-link" if @practice.acknowledge %>
  </li>
  <li class="nav-item">
    <%= link_to "#{t(:gallery)} (#{@practice.medias.count})", practice_gallery_path(@practice), :class => "nav-link", :style => "color: red !important" %>
  </li>
</ul>

<br>

<div class="tab-content" style="min-height: 64px;">
  <div class="tab-pane active">
    <div class="thumbnail">
      <% if  @practice.medias and @practice.medias[0]%>
        <%= image_tag(@practice.medias[0].imagem.url(:medium)) %>
      <% else %>
        <%= image_tag(@practice.location.imagem.url(:medium)) %>
      <% end %>
    </div>

    <br>
    <div class='<%= (@practice.name.length() > 90 ? 'text-box' : '') %>'><h1><%= @practice.name %></h1></div>
    <br>

    <% if ! @practice.location.description.blank? %>
      <%= "<h4>#{t(:description)}</h4>".html_safe  %>
      <div class="text-box"><%= @practice.location.description.truncate(510) %></div>
      <br>
    <% end %>

    <%= "<h4>#{t(:location)}</h4>#{link_to @practice.location.name.truncate(40), location_path(@practice.location)}&nbsp;".html_safe if @practice.location.name? %>
    <br><br>
    <div class="practices-box bg-light"><%= "<h4>#{t(:responsible_for_information)}</h4>#{link_to @practice.account.name, account_path(@practice.account)}&nbsp;".html_safe if @practice.account.name? %></div>
    <% if account_signed_in? %>
      <% if current_account.admin? or current_account.id == @practice.account.id %>
        <hr>
        <div id="practice-footer">
          <div class="form-actions">
            <%= link_to t(:edit), edit_location_practice_path(@practice.location, @practice.id), :class => 'btn btn-success' %>
            <%= link_to t(:destroy), practice_path(@practice), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem Certeza?')) }, :class => 'btn btn-danger' %>
          </div>
        </div>
      <% end %>
    <% end %>

    <br><br>
  </div>
</div>

