<% title @evaluate.practice.name %>

<% if account_signed_in? %>
  <% if current_account.admin? or current_account.id == @evaluate.practice.account.id %>
    <%= link_to t(:send_photo), new_practice_media_path(@evaluate), :class => "btn btn-warning", :style => "float:right;" %>
  <% end %>
<% end %>

<br><br><br>

<ul class="nav nav-tabs flex-column flex-sm-row">
  <li class="nav-item">
    <%= link_to truncate(@evaluate.practice.location.name, length: 25), location_path(@evaluate.practice.location), title: @evaluate.practice.location.name,  :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to @evaluate.practice.name.truncate(25) , practice_path(@evaluate.practice), :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to t(:what_you_do), practice_what_you_do_path(@evaluate.practice, @evaluate.practice.what_you_do), :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to t(:characterise), practice_characterise_path(@evaluate.practice, @evaluate.practice.characterise), :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to t(:evaluate), practice_evaluate_path(@evaluate.practice, @evaluate.practice.evaluate), :class => "nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to t(:acknowledge), practice_acknowledge_path(@evaluate.practice, @evaluate.practice.acknowledge), :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "#{t(:gallery)} (#{@evaluate.practice.medias.count})", practice_gallery_path(@evaluate.practice), :class => "nav-link", :style => "color: red !important" %>
  </li>
</ul>

<br>
<div class="tab-content" style="min-height: 64px;">
  <div class="tab-pane active">
    <br>
    <% if @evaluate.general_performance_of_practice.blank? and
      @evaluate.unintended_positive_side_effects_of_practice.blank? and
      @evaluate.unintended_negative_side_effect_of_practice.blank? and
      @evaluate.knowledge_and_skills_required_for_practice.blank? and
      @evaluate.labour_required_for_practice.blank? and
      @evaluate.cost_associated_with_practice.blank? and
      @evaluate.system_integrity_requirements.blank? and
      @evaluate.system_integrity_effects.blank? and
      @evaluate.climate_change_vulnerability_effects.blank? and
      @evaluate.time_requirements.blank? %>
      <h3><%= t(:no_data_has_been_registered_so_far) %>
        <% if account_signed_in? %>
          <% if current_account.admin? or current_account.id == @evaluate.practice.account.id %>
            <%= link_to t(:register), edit_practice_evaluate_path(@evaluate.practice, @evaluate) %>
          <% end %>
        <% end %>
      </h3>
    <% else %>
      <% if @evaluate.general_performance_of_practice and @evaluate.general_performance_of_practice .length() > 0 %>
        <div class="practices-box bg-light"><%= "<h4>#{t(:general_performance_of_practice)}</h4><div class='text-box'>#{simple_format (h @evaluate.general_performance_of_practice).gsub(URI.regexp, '<a href="\0">\0</a>')}</div>".html_safe %></div>
      <% end %>

      <% if @evaluate.unintended_positive_side_effects_of_practice and @evaluate.unintended_positive_side_effects_of_practice .length() > 0%>
        <%= "<h4>#{t(:unintended_positive_side_effects_of_practice)}</h4><div class='text-box'>#{simple_format (h @evaluate.unintended_positive_side_effects_of_practice).gsub(URI.regexp, '<a href="\0">\0</a>')}</div>".html_safe %>
      <% end %>

      <% if @evaluate.unintended_negative_side_effect_of_practice and @evaluate.unintended_negative_side_effect_of_practice .length() > 0%>
        <div class="practices-box bg-light"><%= "<h4>#{t(:unintended_negative_side_effect_of_practice)}</h4><div class='text-box'>#{simple_format (h @evaluate.unintended_negative_side_effect_of_practice).gsub(URI.regexp, '<a href="\0">\0</a>')}</div>".html_safe %></div>
      <% end %>

      <% if @evaluate.knowledge_and_skills_required_for_practice and @evaluate.knowledge_and_skills_required_for_practice .length() > 0%>
        <%= "<h4>#{t(:knowledge_and_skills_required_for_practice)}</h4><div class='text-box'>#{simple_format (h @evaluate.knowledge_and_skills_required_for_practice).gsub(URI.regexp, '<a href="\0">\0</a>')}</div>".html_safe %>
      <% end %>

      <% if @evaluate.labour_required_for_practice and @evaluate.labour_required_for_practice .length() > 0%>
        <div class="practices-box bg-light"><%= "<h4>#{t(:labour_required_for_practice)}</h4><div class='text-box'>#{simple_format (h @evaluate.labour_required_for_practice).gsub(URI.regexp, '<a href="\0">\0</a>')}</div>".html_safe %></div>
      <% end %>

      <% if @evaluate.cost_associated_with_practice and @evaluate.cost_associated_with_practice .length() > 0%>
        <%= "<h4>#{t(:cost_associated_with_practice)}</h4><div class='text-box'>#{simple_format (h @evaluate.cost_associated_with_practice).gsub(URI.regexp, '<a href="\0">\0</a>')}</div>".html_safe %>
      <% end %>

      <% if @evaluate.system_integrity_requirements and @evaluate.system_integrity_requirements .length() > 0%>
        <div class="practices-box bg-light"><%= "<h4>#{t(:system_integrity_requirements)}</h4><div class='text-box'>#{simple_format (h @evaluate.system_integrity_requirements).gsub(URI.regexp, '<a href="\0">\0</a>')}</div>".html_safe %></div>
      <% end %>

      <% if @evaluate.system_integrity_effects and @evaluate.system_integrity_effects .length() > 0%>
        <%= "<h4>#{t(:system_integrity_effects)}</h4><div class='text-box'>#{simple_format (h @evaluate.system_integrity_effects).gsub(URI.regexp, '<a href="\0">\0</a>')}</div>".html_safe %>
      <% end %>

      <% if @evaluate.climate_change_vulnerability_effects and @evaluate.climate_change_vulnerability_effects .length() > 0%>
        <div class="practices-box bg-light"><%= "<h4>#{t(:climate_change_vulnerability_effects)}</h4><div class='text-box'>#{simple_format (h @evaluate.climate_change_vulnerability_effects).gsub(URI.regexp, '<a href="\0">\0</a>')}</div>".html_safe %></div>
      <% end %>

      <% if @evaluate.time_requirements and @evaluate.time_requirements .length() > 0 %>
        <%= "<h4>#{t(:time_requirements)}</h4><div class='text-box'>#{simple_format (h @evaluate.time_requirements).gsub(URI.regexp, '<a href="\0">\0</a>')}</div>".html_safe %>
      <% end %>

      <% if account_signed_in? %>
        <% if current_account.admin? or current_account.id == @evaluate.practice.account.id %>
          <hr>
          <div id="practice-footer">
            <div class="form-actions">
              <%= link_to t(:edit), edit_practice_evaluate_path(@evaluate.practice, @evaluate), :class => 'btn btn-success' %>
            </div>
          </div>
        <% end %>
      <% end %>
      <br><br>
    <% end %>
  </div>
</div>

