<%= form_for(one_million_voice, html: { multipart: true }) do |f| %>
  <% if one_million_voice.errors.any? %>
    <div id="error_explanation">
      <b><%= one_million_voice.errors.count.to_s + " Error(s)" %></b>
      <br><br>
      <% one_million_voice.errors.full_messages.each do |message| %>
        <%= message %><br>
      <% end %><br>
    </div>

  <% end %>

  <% if current_usuario.admin? %>
    <div class="form-group row">
      <%= f.label t(:responsible_for_information), class: "col-sm-2 col-form-label col-form-label-lg" %>
      <div class="col-sm-10">
        <%= f.collection_select(:usuario_id, Usuario.all, :id, :nome, {}, { class: "form-control selectpicker", "data-live-search": true }) %>
      </div>
    </div>
  <% end %>

  <div class="form-group row">
    <%#= f.label t(:localization), class: "col-sm-2 col-form-label col-form-label-lg" %>
    <div class="col-sm-10">
      <% if params[:local_id] %>
        <%= f.hidden_field :local_id, id: "local_id", :value => Local.friendly.find(params[:local_id]).id %>
        <%#= params[:local_id] %>
      <% else %>
        <%= f.collection_select(:local_id, @locais, :id, :nome, {}, { class: "form-control selectpicker", "data-live-search": true }) %>
      <% end %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label t(:summary_description), class: "col-sm-2 col-form-label col-form-label-lg" %>
    <div class="col-sm-10">
      <%= f.text_area :description, class: "form-control", :rows => "6" %>
      <div class="tip">
        * Please describe the practice that you want to map: What is the practice about; What do you use and do; When did you start; For how long have you practiced etc.?
      </div>
    </div>
  </div>

  <br>
  <div class="form-group row">
    <%= f.label t(:problem_it_address), class: "col-sm-2 col-form-label col-form-label-lg" %>
    <div class="col-sm-10">
      <%= f.text_area :description, class: "form-control", :rows => "6" %>
      <div class="tip">
        * Which problem does the practice address; Which challenges does it tackle?
      </div>
    </div>
  </div>

  <br>
  <div class="form-group row">
    <%= f.label t(:how_it_is_done), class: "col-sm-2 col-form-label col-form-label-lg" %>
    <div class="col-sm-10">
      <%= f.text_area :description, class: "form-control", :rows => "6" %>
      <div class="tip">
        * How is it done; What are the details of how it is applied; What is the process that needs to be followed?
      </div>
    </div>
  </div>

  <br>
  <div class="form-group row">
    <%= f.label t(:expected_function_effects), class: "col-sm-2 col-form-label col-form-label-lg" %>
    <div class="col-sm-10">
      <%= f.text_area :description, class: "form-control", :rows => "6" %>
      <div class="tip">
        * What does the practice do; What is the function of the practice; Which result to you expect from using the practice?
      </div>
    </div>
  </div>

  <br>
  <div class="actions">
    <%= f.submit t(:submit), class: "btn btn-primary" %>
  </div>
  <br>

<% end %>
