<%= form_for(characterise, html: { multipart: true }) do |f| %>
  <%= link_to t(:back), "javascript:history.back()", class: "btn btn-danger btn-lg", style: "float: left; margin-bottom: 16px;" unless params["action"] == 'edit' %>
  <% button_name = params["action"] == 'edit' ? t(:save) :  t(:next ) %>
  <%= f.submit button_name, class: "btn btn-warning btn-lg", style: "float: right; margin-bottom: 16px;" %>

  <br><br>

  <% if characterise.errors.any? %>
    <div id="error_explanation">
      <b><%= characterise.errors.count.to_s + " Error(s)" %></b>
      <br><br>
      <% characterise.errors.full_messages.each do |message| %>
        <%= message %><br>
      <% end %><br>
    </div>

  <% end %>

  <div class="form-group row">
    <div class="col-sm-10">
      <% if params[:practice_id] %>
        <%= f.hidden_field :practice_id, id: "practice_id", :value => Practice.friendly.find(params[:practice_id]).id %>
      <% else %>
        <%= f.hidden_field :practice_id, id: "practice_id", :value => @characterise.practice.id %>
      <% end %>
    </div>
  </div>
  <div class="forms">
    <div class="form-group row bg-light">
      <%= f.label t(:agroecology_principles_addressed), class: "col-sm-2 col-form-label col-form-label-lg" %>
      <div class="col-sm-10">
        <div style="text-align: left;">
          <%= check_box_tag 'characterise[agroecology_principles_addressed][]', 'Recycling', checked_characterises('Recycling'), id: 'principle' %> Recycling
          <div class="tip-explanation">Preferentially use location renewable resources and close as far as possible resource cycles of nutrients and biomass.</div>
          <br>
          <%= check_box_tag 'characterise[agroecology_principles_addressed][]', 'Input reduction', checked_characterises('Input reduction'), id: 'principle' %> Input reduction
          <div class="tip-explanation">Reduce or eliminate dependency on purchased inputs.</div>
          <br>
          <%= check_box_tag 'characterise[agroecology_principles_addressed][]', 'Soil heath', checked_characterises('Soil heath'), id: 'principle' %> Soil heath
          <div class="tip-explanation">Secure and enhance soil health and functioning for improved plant growth, particularly by managing organic matter and by enhancing soil biological activity.</div>
          <br>
          <%= check_box_tag 'characterise[agroecology_principles_addressed][]', 'Animal health', checked_characterises('Animal health'), id: 'principle' %> Animal health
          <div class="tip-explanation">Ensure animal health and welfare.</div>
          <br>
          <%= check_box_tag 'characterise[agroecology_principles_addressed][]', 'Biodiversity', checked_characterises('Biodiversity'), id: 'principle' %> Biodiversity
          <div class="tip-explanation">Maintain and enhance diversity of species, functional diversity and genetic resources and maintain biodiversity in the agroecosystem over time and space at field, farm and landscape scales.</div>
          <br>
          <%= check_box_tag 'characterise[agroecology_principles_addressed][]', 'Synergy', checked_characterises('Synergy'), id: 'principle' %> Synergy
          <div class="tip-explanation">Enhance positive ecological interaction, synergy, integration, and complementarity amongst the elements of agroecosystems (plants, animals, trees, soil, water).</div>
          <br>
          <%= check_box_tag 'characterise[agroecology_principles_addressed][]', 'Economic diversification', checked_characterises('Economic diversification'), id: 'principle' %> Economic diversification
          <div class="tip-explanation">Diversify on-farm incomes by ensuring small-scale farmers have greater financial independence and value addition opportunities while enabling them to respond to demand from consumers.</div>
          <br>
          <%= check_box_tag 'characterise[agroecology_principles_addressed][]', 'Co-creation of knowledge', checked_characterises('Co-creation of knowledge'), id: 'principle' %> Co-creation of knowledge
          <div class="tip-explanation">Enhance co-creation and horizontal sharing of knowledge including location and scientific innovation, especially through farmer-to-farmer exchange.</div>
          <br>
          <%= check_box_tag 'characterise[agroecology_principles_addressed][]', 'Social values and diets', checked_characterises('Social values and diets'), id: 'principle' %> Social values and diets
          <div class="tip-explanation">Build food systems based on the culture, identity, tradition, social and gender equity of location communities that provide healthy, diversified, seasonally and culturally appropriate diets.</div>
          <br>
          <%= check_box_tag 'characterise[agroecology_principles_addressed][]', 'Fairness', checked_characterises('Fairness'), id: 'principle' %> Fairness
          <div class="tip-explanation">Support dignified and robust livelihoods for all actors engaged in food systems, especially small-scale food producers, based on fair trade, fair employment and fair treatment of intellectual property rights</div>
          <br>
          <%= check_box_tag 'characterise[agroecology_principles_addressed][]', 'Connectivity', checked_characterises('Connectivity'), id: 'principle' %> Connectivity
          <div class="tip-explanation">Ensure proximity and confidence between producers and consumers through promotion of fair and short distribution networks and by re-embedding food systems into location economies.</div>
          <br>
          <%= check_box_tag 'characterise[agroecology_principles_addressed][]', 'Land and natural resource governance', checked_characterises('Land and natural resource governance'), id: 'principle' %> Land and natural resource governance
          <div class="tip-explanation">Recognize and support the needs and interests of family farmers, smallholders and peasant food producers as sustainable managers and guardians of natural and genetic resources.</div>
          <br>
          <%= check_box_tag 'characterise[agroecology_principles_addressed][]', 'Participation', checked_characterises('Participation'), id: 'principle' %> Participation
          <div class="tip-explanation">Encourage social organization and greater participation in decision-making by food producers and consumers to support decentralized governance and location adaptive management of agricultural and food systems.</div>
          <br>
        </div>
        <div class="tip">Which agroecological principles are addressed or engaged through the practice?</div>
      </div>
    </div>

    <br>
    <div class="form-group row">
      <%= f.label t(:food_system_components_addressed), class: "col-sm-2 col-form-label col-form-label-lg" %>
      <div class="col-sm-10">

        <div style="text-align: left;">
          <%= check_box_tag 'characterise[food_system_components_addressed][]', 'Soil', checked_components('Soil'), id: 'food_system_components_addressed' %> Soil
          <br>
          <%= check_box_tag 'characterise[food_system_components_addressed][]', 'Water', checked_components('Water'), id: 'food_system_components_addressed' %> Water
          <br>
          <%= check_box_tag 'characterise[food_system_components_addressed][]', 'Crops', checked_components('Crops'), id: 'food_system_components_addressed' %> Crops
          <br>
          <%= check_box_tag 'characterise[food_system_components_addressed][]', 'Livestock', checked_components('Livestock'), id: 'food_system_components_addressed' %> Livestock
          <br>
          <%= check_box_tag 'characterise[food_system_components_addressed][]', 'Trees', checked_components('Trees'), id: 'food_system_components_addressed' %> Trees
          <br>
          <%= check_box_tag 'characterise[food_system_components_addressed][]', 'Pests', checked_components('Pests'), id: 'food_system_components_addressed' %> Pests
          <br>
          <%= check_box_tag 'characterise[food_system_components_addressed][]', 'Energy', checked_components('Energy'), id: 'food_system_components_addressed' %> Energy
          <br>
          <%= check_box_tag 'characterise[food_system_components_addressed][]', 'Household', checked_components('Household'), id: 'food_system_components_addressed' %> Household
          <br>
          <%= check_box_tag 'characterise[food_system_components_addressed][]', 'Workers', checked_components('Workers'), id: 'food_system_components_addressed' %> Workers
          <br>
          <%= check_box_tag 'characterise[food_system_components_addressed][]', 'Community', checked_components('Community'), id: 'food_system_components_addressed' %> Community
          <br>
          <%= check_box_tag 'characterise[food_system_components_addressed][]', 'Value chain', checked_components('Value chain'), id: 'food_system_components_addressed' %> Value chain
          <br>
          <%= check_box_tag 'characterise[food_system_components_addressed][]', 'Policy', checked_components('Policy'), id: 'food_system_components_addressed' %> Policy
          <br>
          <%= check_box_tag 'characterise[food_system_components_addressed][]', 'Other', checked_components('Other'), id: 'food_system_components_addressed' %> Other
          <br>
          <%= check_box_tag 'characterise[food_system_components_addressed][]', 'I am not sure', checked_components('I am not sure'), id: 'food_system_components_addressed' %> I am not sure
        </div>
        <br>
        <div class="tip">
          Which parts of the food system are concerned or engaged through the practice?
        </div>
      </div>
    </div>
  </div>
<% end %>
