<% title t(:characterise) %>

<br><br><br><br>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to t(:practices), practices_path, :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to t(:what_you_do), "javascript:history.back()", :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to t(:characterise), "#", :class => "nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to t(:evaluate), "#", :class => "nav-link", :style => "color: #979797 !important" %>
  </li>
  <li class="nav-item">
    <%= link_to t(:acknowledge), "#", :class => "nav-link", :style => "color: #979797 !important" %>
  </li>
</ul>

<br>

<%= render 'form', characterise: @characterise %>
