<% title @characterise.practice.name %>

<% if usuario_signed_in? %>
  <% if current_usuario.admin? or current_usuario.id == @characterise.practice.usuario.id %>
    <%= link_to t(:send_photo), new_practice_midia_path(@characterise), :class => "btn btn-warning", :style => "float:right;" %>
  <% end %>
<% end %>

<br><br><br>

<ul class="nav nav-tabs flex-column flex-sm-row">
  <li class="nav-item">
    <%= link_to truncate(@characterise.practice.local.nome, length: 25), local_path(@characterise.practice.local), title: @characterise.practice.local.nome,  :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to @characterise.practice.name.truncate(25) , practice_path(@characterise.practice), :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to t(:what_you_do), practice_what_you_do_path(@characterise.practice, @characterise.practice.what_you_do), :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to t(:characterise), practice_characterise_path(@characterise.practice, @characterise.practice.characterise), :class => "nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to t(:evaluate), practice_evaluate_path(@characterise.practice, @characterise.practice.evaluate), :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to t(:acknowledge), practice_acknowledge_path(@characterise.practice, @characterise.practice.acknowledge), :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "#{t(:gallery)} (#{@characterise.practice.midias.count})", practice_gallery_path(@characterise.practice), :class => "nav-link", :style => "color: red !important" %>
  </li>
</ul>

<br>

<div class="tab-content" style="min-height: 64px;">
  <div class="tab-pane active">
    <br>
    <% if @characterise.agroecology_principles_addressed.empty? and @characterise.food_system_components_addressed.empty? %>
      <h3><%= t(:no_data_has_been_registered_so_far) %>
        <% if usuario_signed_in? %>
          <% if current_usuario.admin? or current_usuario.id == @characterise.practice.usuario.id %>
            <%= link_to t(:register), edit_practice_characterise_path(@characterise.practice, @characterise) %>
          <% end %>
        <% end %>
      </h3>
    <% else %>

      <% if @characterise.agroecology_principles_addressed and @characterise.agroecology_principles_addressed .length() > 0 %>
        <div class="practices-box bg-light"><%= "<h4>#{t(:agroecology_principles_addressed)}</h4><div class='text-box'>#{@characterise.agroecology_principles_addressed.gsub(/,/, '<br/>')}<br></div>".html_safe %></div>
      <% end %>

      <% if @characterise.food_system_components_addressed and @characterise.food_system_components_addressed .length() > 0 %>
        <%= "<h4>#{t(:food_system_components_addressed)}</h4><div class='text-box'>#{@characterise.food_system_components_addressed.gsub(/,/, '<br/>')}<br></div>".html_safe %>
      <% end %>

      <% if usuario_signed_in? %>
        <% if current_usuario.admin? or current_usuario.id == @characterise.practice.usuario.id %>
          <br><br>
          <div id="practice-footer">
            <div class="form-actions">
              <%= link_to t(:edit), edit_practice_characterise_path(@characterise.practice, @characterise), :class => 'btn btn-success' %>
            </div>
          </div>
        <% end %>
      <% end %>
      <br><br>
    <% end %>
  </div>
</div>

