<%= form_for(location, html: { multipart: true }) do |f| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <b><%= location.errors.count.to_s + " Error(s)" %></b>
      <br><br>
      <% location.errors.full_messages.each do |message| %>
        <%= message %><br>
      <% end %><br>
    </div>
  <% end %>

  <% if current_account.admin? %>
    <div class="form-group row">
      <%= f.label 'Responsável', class: "col-sm-2 col-form-label col-form-label-lg" %>
      <div class="col-sm-10">
        <%= f.collection_select(:account_id, Account.all, :id, :name, {}, { class: "form-control selectpicker", "data-live-search": true }) %>
      </div>
    </div>
  <% end %>

  <div class="forms">
    <div class="form-group row required bg-light">
      <%= f.label t(:name), class: "col-sm-2 col-form-label col-form-label-lg control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
    <br>
    <div class="forms">
      <div class="form-group row">
        <%= f.label t(:country), class: "col-sm-2 col-form-label col-form-label-lg" %>
        <div class="col-sm-10">
          <% country = @location.country ? @location.country : '' if params["action"] == 'edit' %>
          <% country = request.location.country_code ? request.location.country_code : '' if params["action"] == 'new' %>
          <%= f.country_select :country, { selected: country, :include_blank => t(:select_an_option) }, { class: "form-control selectpicker", "data-live-search": true }, required: true %>
        </div>
      </div>
      <br>
      <!--
      <div class="form-group required row bg-light">
        <%= f.label t(:type), class: "col-sm-2 col-form-label col-form-label-lg" %>
        <div class="col-sm-10">
          <%= f.collection_select(:property_type, @property_types, :last, :first, { :include_blank => t(:select_location_type) }, { class: "form-control selectpicker", "data-live-search": true }) %>
        </div>
      </div>
      <br>
      -->
      <div class="form-group required bg-light row">
        <%= f.label t(:farm_and_farming_system), class: "col-sm-2 col-form-label col-form-label-lg" %>
        <div class="col-sm-10">
          <%= f.collection_select(:farm_and_farming_system, @farm_and_farming_system_options, :last, :first, { :include_blank => t(:select_an_option) }, { class: "form-control selectpicker", "data-live-search": true }) %>
        </div>
      </div>
      <br>
      <div class="form-group row">
        <%= f.label t(:photo), class: "col-sm-2 col-form-label col-form-label-lg" %>
        <div class="col-sm-8">
          <%= f.file_field :photo, class: "form-control" %>
        </div>
      </div>
      <br>
      <div class="form-group row bg-light">
        <%= f.label t(:short_description), class: "col-sm-2 col-form-label col-form-label-lg" %>
        <div class="col-sm-10">
          <%= f.text_area :description, class: "form-control", :rows => "5" %>
        </div>
      </div>
      <br>
      <div class="form-group row">
        <%= f.label t(:hide_my_location), class: "col-sm-2 col-form-label col-form-label-lg" %>
        <div class="col-sm-10">
          <%= f.select :hide_my_location, options_for_select([["No", false], ["Yes", true]], @location.hide_my_location), { :include_blank => false }, { :class => 'form-control selectpicker', :id => 'hide_my_location_on_map' } %>
        </div>
      </div>
      <br>

      <div class="form-group row bg-light required" id="location">
        <%= f.label t(:location), class: "col-sm-2 col-form-label col-form-label-lg control-label" %>
        <div class="col-sm-10">
          <div id="map-sistema"></div>
        </div>
      </div>

      <%= f.hidden_field :latitude, id: "latitude" %>
      <%= f.hidden_field :longitude, id: "longitude" %>

      <hr>
      <div class="actions">
        <%= f.submit t(:save), class: "btn btn-warning btn-lg" %>
      </div>

      <script>
          $(document).ready(function () {
              if ($("#hide_my_location_on_map option:selected").val() == 'true') {
                  $("#location").hide();
              } else {
                  $("#location").show();
              }

              $("#hide_my_location_on_map").change(function () {
                  hide_my_location_on_map = $("#hide_my_location_on_map option:selected").val();

                  if (hide_my_location_on_map == 'true') {
                      $("#location").hide();
                  } else {
                      $("#location").show();
                  }
              });

              <% if params[:action] == 'new' %>
              lat = -15.77835833463309;
              lon = -47.88219451904297;

              <% if request.location %>
              lat = <%= request.location.latitude ? request.location.latitude : -15.77835833463309 %>
                lon = <%= request.location.longitude ? request.location.longitude : -47.88219451904297 %>
                  <% end %>

                  <% elsif params[:action] != 'new' %>
                  <% if f.object.latitude? %>
                  lat = <%= f.object.latitude %>;
              <% else %>
              lat = -15.77835833463309;
              <% end %>
              <% if f.object.longitude? %>
              lon = <%= f.object.longitude %>;
              <% else %>
              lon = -47.88219451904297;
              <% end %>
              <% end %>

              var map = L.map('map-sistema', {zoomControl: false}).setView([lat, lon], 10);

              $(window).on("resize", function () {
                  $("#map-sistema").width($(window).width());
                  map.invalidateSize();
              }).trigger("resize");
              $(window).on("resize", function () {
                  $("#map-sistema").height($(window).height());
                  map.invalidateSize();
              }).trigger("resize");

              var osm = L.tileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                  attribution: 'Agroecology Map | OpenStreetMap',
                  maxZoom: 18,
              }).addTo(map);
              var mapbox = L.tileLayer('https://api.mapbox.com/v4/mapbox.satellite/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFyY2Vsb3NvYXJlc3NvdXphIiwiYSI6ImNpZ2NpNXFmMzNvaDh3Ym0zeXM3aWN3Y2EifQ.1xOQgKK1MioUioN0B4DVog', {
                  attribution: 'Agroecology Map | MapBox',
                  maxZoom: 18,
              });
              var baseMaps = {"OpenStreetMap": osm, "Satélite (MapBox)": mapbox};

              L.control.layers(baseMaps).addTo(map);

              map.addControl(new L.control.zoom({position: 'topright'}));

              var Icon = L.icon({
                  iconUrl: '<%= image_url "leaflet/images/leaf-green.png" %>',
                  shadowUrl: '<%= image_url "leaflet/images/leaf-shadow.png" %>',
                  iconSize: [38, 95],
                  shadowSize: [50, 64],
                  iconAnchor: [22, 94],
                  shadowAnchor: [4, 62],
                  popupAnchor: [-3, -76]
              });

              var marker = L.marker(new L.LatLng(lat, lon), {draggable: true, icon: Icon}).addTo(map);

              $('#latitude').val(lat);
              $('#longitude').val(lon);

              map.on('click', function (e) {
                  marker.setLatLng(e.latlng);
                  $('#latitude').val(marker.getLatLng().lat);
                  $('#longitude').val(marker.getLatLng().lng);
              });

              marker.on('dragend', function (e) {
                  $('#latitude').val(marker.getLatLng().lat);
                  $('#longitude').val(marker.getLatLng().lng);
              });
          });
      </script>
    </div>
<% end %>
</div>