<% title t(:locations) %>

<%= link_to (bootstrap_icon "geo-alt") + " " + t(:register_new_location), new_location_path, :class => "btn btn-primary", :style => "float:right;" %>

<br><br><br>

<ul class="nav nav-tabs flex-column flex-xl-row">
  <li class="nav-item">
    <%= link_to t(:locations) + " (#{@locations.count})" + " #{ @account.blank? ? '' : '(' + @account.name.truncate(25) + ')' }", "#", :class => "nav-link active" %>
  </li>
</ul>

<div style="margin-top: 8px; margin-bottom: 8px; text-align: left">
  <%= select_tag "system", options_from_collection_for_select(@system_options, :last, :first, params[:filter] == 'system' ? params[:value] : ''), class: "selectpicker", "data-live-search": true, :onchange => 'window.location.href = "/locations/?filter=system&value=" + $("#system :selected").val();'  %>
</div>

<% if @locations.empty? %>
  <h2><%= t(:no_data_has_been_registered_so_far) %></h2>
<% else %>
  <div class="row">
    <% @locations.each do |location| %>
      <div class="col-sm-6" style="cursor: pointer;" onclick="window.location='<%= location_url(location) %>';">
        <div class="card">
          <br>
          <div  class="card-img-top thumbnail"><%= link_to photo_thumb(location), location_path(location), alt: location.name, title: location.name %></div>
          <div class="card-body"  style="min-height: 100px;">
            <h3 class="card-title"><%= link_to location.name.truncate(40), location_path(location) %></h3>
            <p class="card-text" style="text-align: center;"><%= link_to "See all Practices", location_practices_path(location) if !location.practices.blank? %></p>
          </div>
        </div>
        <br>
      </div>
    <% end %>
  </div>

  <% if not params[:account_id] %>
    <div>
      <%= paginate @locations %>
    </div>
  <% end %>
<% end %>
