<br><br><br>

<ul class="nav nav-tabs flex-column flex-xl-row">
  <li class="nav-item">
    <%= link_to t(:contributors), accounts_path, :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to @account.name, account_path(@account.id), :class => "nav-link active" %>
  </li>
</ul>

<br>

<div class="tab-content" style="min-height: 64px;">
  <div class="tab-pane active">

    <div class="thumbnail">
      <%= image_tag(@account.photo.url(:medium), :width => "150") %>
      <% if account_signed_in? %>
        <% if current_account.admin? or current_account.id == @account.id %>
          <%= link_to image_tag(@account.photo.url(:medium), :width => "150"), edit_account_path(@account) %>
        <% end %>
     <% end %>
    </div>

    <h3><%= @account.name %></h3>
    <br>
    <% if account_signed_in? %>
      <%= "<strong>E-Mail</strong><br>#{@account.email}&nbsp;".html_safe if @account.email? %>
      <br><br>
    <% end %>

    <% if @account.about and @account.about .length() > 0 %>
      <%= "<strong>#{t(:about_me)}</strong><br><div class='text-box'>#{simple_format (h @account.about).gsub(URI.regexp, '<a href="\0">\0</a>')}</div>".html_safe if @account.about %>
    <% end %>

    <% if @account.website and @account.website .length() > 0 %>
      <%= "<strong>Website</strong><br><div class='text-box'>#{simple_format (h @account.website).gsub(URI.regexp, '<a href="\0">\0</a>')}</div>".html_safe if @account.website %>
    <% end %>

    <%= "<strong>#{t(:registered_locations)}</strong><br>#{@account.locations.map { |location| link_to location.name.truncate(40), location_path(location) }.join("<br>").html_safe}&nbsp;".html_safe if @account.locations.count > 0 %>
  </div>
</div>

<% if account_signed_in? %>
  <% if current_account.admin? or current_account.id == @account.id %>
    <hr>
    <div class="form-actions">
      <%= link_to t(:register_new_location), new_location_path, :class => "btn btn-primary" %>
      <%= link_to t('.edit', :default => "Editar"), edit_account_path(@account), :class => 'btn btn-success' %>
      <% if current_account.admin? %>
        <%= link_to t(:destroy), account_path(@account), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Você tem Certeza?')) }, :class => 'btn btn-danger' if @account.id != 1 %>
      <% end %>
    </div>
  <% end %>
<% end %>
